{% extends "chat_template.html" %}

{% block title %}Planner Chatbot{% endblock %}
{% block color %}#6610f2{% endblock %}
{% block icon %}🗂️{% endblock %}
{% block persona %}The Planner{% endblock %}
{% block persona_value %}planner{% endblock %}
{% block description %}
I am the Planner Chatbot 📆! I help you **set structured financial goals** for a secure future.
Whether you're saving for **retirement, a house, or education**, I offer step-by-step guidance on making smart financial plans.
Let’s create **budgets, schedules, and realistic milestones** to keep you on track!
{% endblock %}
