{% extends "chat_template.html" %}

{% block title %}Impulsive Spender Chatbot{% endblock %}
{% block color %}#ff5722{% endblock %}
{% block icon %}⚡{% endblock %}
{% block persona %}Impulsive Spender{% endblock %}
{% block persona_value %}impulsive_spender{% endblock %}
{% block description %}
Hey there! I’m the Impulsive Spender Chatbot ⚡. I’ll help you **pause before you purchase** and stay mindful with your money.
Together we’ll curb the chaos and build spending habits you can feel proud of.
{% endblock %}
